.order {
    padding: 130px 0;
    font-weight: 400;
    color: #333333;
    background: rgb(51, 51, 51, 0.1);
    text-align: center;
}

.order-inner {
    width: 1278px;
    margin: 0 auto;
    border: 1px solid red;
}

.order-title {
    font-size: 64px;
    line-height: 87px;
    margin-bottom: 37px;
}

.order-text {
    font-size: 28px;
    line-height: 38px;
    margin-bottom: 90px;
}
